.card-restaurant {
    border-radius: 10px;
    margin: 0 $space-medium 15px;
    width: calc(100% / 1);
    overflow: hidden;

    @media (min-width: 576px) {
       & {
            margin: 0 calc(#{$space-medium} / 2) 15px;
            width: calc(calc(100% / 2) - #{$space-medium});
       }
    }

    &__image {
        position: relative;

        &::before {
            content: "";
            display: block;
            padding-top: 56.25%;
            width: 100%;
        }

        &__label {
            position: absolute;
            top: 10px;
            right: 10px;
            display: none;
            background: map-get($color, 3);
            color: darken(map-get($color, 3), 50%);
            font-size: 1.2rem;
            font-weight: 500;
            border-radius: 3px;
            padding: 3px 10px;
            z-index: 1;
    
            .is-new & {
                display: block;
            }
        }
        
        & img {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            width: 100%;
        }
    }

    &__meta {
        background-color: map-get($color, white );
        display: flex;
        justify-content: space-between;
        align-items: center;
        line-height: 1;
        padding: 15px 20px 15px 10px;

        &__infos {

            &__titre {


                & a {
                    color: map-get($color, grey-800);
                    text-decoration: none;
                }
            }
        }
    }
}