.btn {
    display: inline-block;
    text-align: center;
    border-radius: 25px;
    padding: 15px 30px;
    min-width: 200px;
    
    &:hover {
        text-decoration: none;
    }

    // Génération de class de btn en fonction des couleurs dans les paramètres
    @include btn-gradient(1, 2, white);

    // Bouton like
    &-like {
        // Variables animation
        $duration-main : 300ms;
        $keyframe-target : 50; //50%
        $calc-delay: calc(#{$duration-main} * .#{$keyframe-target});

        & > i {
            position: relative;
            font-size: 2rem;
            
            &:hover {
                cursor: pointer;

                &::before {
                    animation: hide 0s $calc-delay both ease-in-out;
                }

                &::after {
                    animation: like $duration-main both ease-in-out;
                }
            }

            &::after {
                content: "\f004";
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                display: block;
                background: -webkit-linear-gradient(-100deg, #9356DC 35%, #FF79DA);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                font-weight: bold;
                transform: scale(0);
            }
        }
    }
}