.btn {
    padding: 15px 30px;
    border-radius: 25px;

    &:hover {
        text-decoration: none;
    }
   
    // &-color-1-gradient-color-2--top {
    //     background: linear-gradient(-10deg, map-get($color, 1) 0%, map-get($color, 2) 80%);
    //     color: map-get($color, white );
    // }

    // Génération de class de btn en fonction des couleurs dans les paramètres
    @include btn-gradient(1, 2, white);
}