// Regroupe les classes réutilisables un peu partout

/* ----------------------------- */
/*          SOMMAIRE             */
/* ----------------------------- */

/* 
    Cards
    Images

*/


/* Cards */
.format {
    position: relative;
    overflow: hidden;

    &::before {
        content: "";
        display: block;
        width: 100%;
    }

    & img {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
    }

    &--16-9 {
        
        &::before {
            padding-top: 56.25%;
        }
    }
}

.box-shadow {
    box-shadow: 0px 5px 10px map-get($color, grey-200);
}



/* Images */

// L'image prend toutes la place disponible : cover
.cover {
    overflow: hidden;

    & img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}

// Agrandissement de l'image au survol
.zoom-in {
    overflow: hidden;

    & img {
        transition: transform .4s;
    }

    &:hover img {
        transform: scale(1.2);
    }
}